$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/font-awesome/scss/font-awesome';

/* =========================================================================
CONFIGS
========================================================================= */
$default-font: Helvetica, arial, freesans, clean, sans-serif;
$global-background-color: #f4f7f8;
$global-font-color: #1a1a1a;
$default-font-size: 16px;

/* =========================================================================
EDITOR CONFIGS
========================================================================= */
$property-color: #905 !important;
$string-color: #07a !important;
$editor-background: #fafbfc url("http://wys.io/assets/images/blueprint-dark.png") top center !important;
$number-color: #ca7841 !important;

/* =========================================================================
GLOBAL STYLES
========================================================================= */
body, html {
  background-color: $global-background-color;
  color: $global-font-color;
  font-size: $default-font-size;
}

.margin-0 {
  margin: 0 !important;
}

.height-32 {
  height: 32px;
}

// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
@import '../components/modal/modal.scss';
@import '../components/navbar/navbar.scss';
@import '../components/object-viewer/object-viewer.scss';
// endinjector