$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/font-awesome/scss/font-awesome';

$default-font: Helvetica, arial, freesans, clean, sans-serif;
$global-background-color: white;
$global-font-color: #1a1a1a;

body, html {
  background-color: $global-background-color;
  color: $global-font-color;
}

.CodeMirror {
  font-family: 'Inconsolata' !important;
  font-size: 20px !important;
}

.cm-s-mdn-like .cm-property.cm-string {
  color: #905 !important;
  font-style: normal !important;
}

.cm-s-mdn-like .cm-string {
  color: #07a !important;
  font-style: normal !important;
}

// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
@import '../components/modal/modal.scss';
// endinjector