div.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-bottom: 5px solid rgba(0, 83, 159, 0.35);
  background: rgba(0, 83, 159, 0.65) url("../assets/images/blueprint-dark.png") top center;

  .navbar-brand {
    font-size: 32px;
  }

  a, a:hover, a:focus {
    color: white;
    background-color: transparent;
    outline: 0;
  }
}