<div class="navbar navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand"><b>JSON</b>ify.io</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="javascript:void(0);" ng-click="new()"><i class="fa fa-plus"></i> New</a>
        </li>
        <li ng-if="showJSONMenu">
          <a href="javascript:void(0);" ng-click="save()"><i class="fa fa-save"></i> Save</a>
        </li>
        <li  ng-if="showJSONMenu">
          <a href="javascript:void(0);" ng-click="request()"><i class="fa fa-send"></i> Request</a>
        </li>
        <li  ng-if="showJSONMenu">
          <a href="javascript:void(0);" ng-click="share()"><i class="fa fa-share"></i> Share</a>
        </li>
        <li>
          <a href="/doc"><i class="fa fa-wifi"></i> API</a>
        </li>
        <li>
          <a href="/help"><i class="fa fa-question"></i> Help</a>
        </li>
      </ul>
    </div>
  </div>
</div>
