<div ng-controller="ObjectViewerCtrl">

  <div class="row">
    <div class="col-xs-12 text-right height-32">

      <ul class="list-inline">

        <li>
          <a href="javascript:void(0);" ng-click="expandAll()">
            <i class="fa fa-chevron-circle-down"></i> Expand All
          </a>
        </li>

        <li>
          <a href="javascript:void(0);" ng-click="collapseAll()">
            <i class="fa fa-chevron-circle-up"></i> Collapse All
          </a>
        </li>

      </ul>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

      <ul class="object-viewer">
        <li ng-repeat="(key, value) in json_obj track by $index"
            ng-include="'components/object-viewer/recursive-object-viewer.html'">
        </li>
      </ul>

    </div>
  </div>
</div>