<header ng-include="'components/navbar/navbar.html'"></header>

<div class="container-fluid">

  <div class="row" ng-if="isValid && !errorMessage && myJSON.length > 0">
    <div class="col-md-12">
      <alert type="success">
        JSON Validated!
      </alert>
    </div>
  </div>


  <div class="row" ng-if="isValid && !errorMessage && myJSON.length == 0">
    <div class="col-md-12">
      <alert type="warning">
        Please enter JSON.
      </alert>
    </div>
  </div>

  <div class="row" ng-if="!isValid">
    <div class="col-md-12">
      <alert type="danger">
        Error! {{errorMessage}}.
      </alert>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">

      <div class="row">
        <div class="col-xs-12 text-right">
          <div class="checkbox margin-0 height-32">
            <label>
              <input type="checkbox"/> Word Wrap
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">

          <div ui-codemirror="{onLoad: onCodemirrorLoaded}" ui-codemirror-opts="editorOptions" ng-model="myJSON"></div>

        </div>
      </div>

    </div>

    <div class="col-md-6">

      <div ng-include="'components/object-viewer/object-viewer.html'"></div>

    </div>

  </div>
</div>

<footer class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-right">
      <p>
        Project by <a href="http://wys.io">Won Song</a>
        <br/>
        <small>
          "Unlimited Ideas and an Uncontrollable Urge to Code"<br/>
          Visit me at <a href="http://wys.io">http://wys.io</a>
        </small>
      </p>
    </div>
  </div>
</footer>