<header ng-include="'components/navbar/navbar.html'"></header>

<div class="container-fluid">

  <div class="row" ng-if="isValid && !errorMessage && myJSON.length > 0">
    <div class="col-md-12">
      <alert type="success">
        Valid JSON!
      </alert>
    </div>
  </div>


  <div class="row" ng-if="isValid && !errorMessage && myJSON.length == 0">
    <div class="col-md-12">
      <alert type="warning">
        Please enter JSON
      </alert>
    </div>
  </div>

  <div class="row" ng-if="!isValid">
    <div class="col-md-12">
      <alert type="danger">
        {{errorMessage}}
      </alert>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">

      <div class="row">
        <div class="col-xs-12">
          <h2>EDITOR</h2>
        </div>
      </div>

      <!-- EDITOR MENU SECTION-->
      <div class="row">
        <div class="col-xs-12">

          <div class="checkbox">
            <label>
              <input type="checkbox"> Wrap Code
            </label>
          </div>

        </div>
      </div>
      <!-- END EDITOR MENU -->

      <div class="row">
        <div class="col-xs-12">

          <div ui-codemirror="{onLoad: onCodemirrorLoaded}" ui-codemirror-opts="editorOptions" ng-model="myJSON"></div>

        </div>
      </div>

    </div>

    <div class="col-md-6">

      <div ng-include="'components/object-viewer/object-viewer.html'"></div>

    </div>

  </div>
</div>

<footer></footer>