<header ng-include="'components/navbar/navbar.html'"></header>

<div class="container-fluid">

  <div class="row" ng-if="isValid && !errorMessage && myJSON.length > 0">
    <div class="col-md-12">
      <alert type="success">
        Valid JSON!
      </alert>
    </div>
  </div>


  <div class="row" ng-if="isValid && !errorMessage && myJSON.length == 0">
    <div class="col-md-12">
      <alert type="warning">
        Please enter JSON
      </alert>
    </div>
  </div>

  <div class="row" ng-if="!isValid">
    <div class="col-md-12">
      <alert type="danger">
        {{errorMessage}}
      </alert>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">

      <div class="row">
        <div class="col-xs-12">
          <h2>EDITOR</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">

          <span id="format">Reformat</span> | <span id="minify">Minify</span>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">

          <div ui-codemirror="{onLoad: onCodemirrorLoaded}" ui-codemirror-opts="editorOptions" ng-model="myJSON"></div>

        </div>
      </div>

    </div>

    <div class="col-md-6">

      <div class="row">
        <div class="col-xs-12">
          <h2>OBJECT VIEWER</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
<!--          {{myJSON}}
          <ul>
            <li ng-repeat="(key, value) in myJSONObj">
              {{key}}
              <ul ng-if="myJSONObj.key">

              </ul>
            </li>
          </ul>-->
        </div>
      </div>

    </div>

  </div>
</div>

<footer></footer>